<div class="bg-white px-[2rem]">
    <div class="py-2 font-bold text-[2rem] pl-5">
        Inventory Record
    </div>
    <div class="p-1  lg:p-6">
        <div class="flex gap-2 py-5">
            <div class="w-[400px]">
                <nz-range-picker
                    nzSize="large"
                    class="h-full"
                    name="date"
                    [nzShowTime]="{ nzFormat: 'HH:mm' }"
                    nzFormat="yyyy-MM-dd HH:mm"
                    [(ngModel)]="searchForm.dateRange"
                ></nz-range-picker>
            </div>
            <div (click)="loadInventoryRecordLists()" class="w-[100px]  border-1 border-[#54A4FF] hover:bg-[#2E7FDB] text-center px-1 py-2 rounded-lg">
                Search
            </div>
        </div>
        <nz-table
            [nzData]="dataLists"
            #dataTable
            nzFrontPagination="false"
        >
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Location From Name</th>
                    <th>Location To Name</th>
                    <th>Qty</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataTable.data">
                    <td>{{ data.product.productCode }}</td>
                    <td>{{ data.product.productName }}</td>
                    <td>{{ data.locFromData && data.locFromData.placeName ?? '' }}</td>
                    <td>{{ data.locToData &&data.locToData.placeName ?? '' }}</td>
                    <td>{{ data.qty }}</td>
                    <td>{{ dateFormat(data.createdAt) }}</td>
                </tr>
            </tbody>
        </nz-table>
        <nz-pagination 
            [nzPageIndex]="searchForm.page" 
            [nzTotal]="totals" 
            nzShowSizeChanger 
            [nzPageSize]="searchForm.limit"
            (nzPageIndexChange)="searchForm.page = $event; loadInventoryRecordLists()"
            (nzPageSizeChange)="searchForm.limit = $event; loadInventoryRecordLists()"
        ></nz-pagination>
    </div>
</div>