<div class="bg-white p-[1rem]">
    <div *ngIf="userRightInside.read">
        <div class="flex py-3 gap-5">
            <div class="text-[2rem] hover:text-[#ff9200] px-3" (click)="backToList()">
                <mat-icon cl aria-hidden="false" fontIcon="chevron_left"></mat-icon>
            </div>
            <div class="text-center text-[2rem] font-bold">Asset Form</div>
            <div *ngIf="editForm.assetListFiles && editForm.assetListFiles.length > 0" class="py-3">
              <div 
                (click)="openFileDialog()"
                class="rounded-lg border-2 font-bold text-[#00709F] border-[#0085BF] bg-[#54CCFF] hover:bg-[#38BAF2] p-1 w-[100px] text-center"
              >
                File viewer
              </div>
            </div>
        </div>
       <!-- <div class="grid lg:grid-cols-5" *ngFor="let file of editForm.assetListFiles">
          <div class="">
            <img [src]="file.base64" />
          </div>
        </div>-->
       
        <div class="py-6">
          <nz-upload
          class="upload-list-inline"
            [(nzFileList)]="fileUpdloadList"
            nzListType="picture"
            (nzChange)="handleChange($event)"
          >
          <button nz-button>
            <nz-icon nzType="upload" />
            Click to Upload
          </button>
          </nz-upload>
        </div>
        <form nz-form class="grid lg:grid-cols-4 p-2 gap-2">
            <nz-form-item>
              <div class="px-1 w-[105px] flex items-center">Asset Code</div>
                <nz-form-control>
                  <input nz-input type="text" name="assetCode" [(ngModel)]="editForm.assetCode"  [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="lg:col-span-3">
                <div class="px-1 w-[105px] flex items-center">Asset Name</div>
                <nz-form-control>
                  <input class="w-[100%]" nz-input type="text" name="assetName" [(ngModel)]="editForm.assetName" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <div class="px-1 w-[105px] flex items-center">Type</div>
                <nz-form-control>
                    <nz-select name="typeId" [(ngModel)]="editForm.typeId"  nzPlaceHolder="Please select">
                        @for (option of typeLists; track option) {
                          <nz-option [nzLabel]="option.typeName" [nzValue]="option._id"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Location</div>
                <nz-form-control>
                    <nz-select name="placeId" [(ngModel)]="editForm.placeId"  nzPlaceHolder="Please select">
                        @for (option of placeLists; track option) {
                          <nz-option [nzLabel]="option.placeName" [nzValue]="option._id"></nz-option>
                        }
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Department</div>
                <nz-form-control>
                    <nz-select name="deptId" [(ngModel)]="editForm.deptId"  nzPlaceHolder="Please select">
                        @for (option of deptLists; track option) {
                          <nz-option [nzLabel]="option.deptName" [nzValue]="option._id"></nz-option>
                        }
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <div class="px-1 w-[105px] flex items-center">Purchase Date</div>
              <nz-form-control>
                <nz-date-picker
                    class="w-[100%]"
                    name="purchaseDate"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="editForm.purchaseDate"
                >
                </nz-date-picker>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-4">
            <div class="px-1 w-[105px] flex items-center">Description</div>
            <nz-form-control >
              <textarea nz-input name="description" [(ngModel)]="editForm.description"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Vendor</div>
            <nz-form-control>
                <nz-select name="vendorId" [(ngModel)]="editForm.vendorId"  nzPlaceHolder="Please select">
                    @for (option of vendorLists; track option) {
                      <nz-option [nzLabel]="option.vendorName" [nzValue]="option._id"></nz-option>
                    }
                  </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Sponsor</div>
            <nz-form-control>
              <label nz-checkbox name="sponsor" [(ngModel)]="editForm.sponsor"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Sponsor Name</div>
            <nz-form-control>
              <input nz-input type="text" name="sponsorName" [(ngModel)]="editForm.sponsorName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Unit</div>
            <nz-form-control>
              <input nz-input type="text" name="unit" [(ngModel)]="editForm.unit" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 lg:px-8 w-[105px] flex items-center">Cost</div>
            <nz-form-control class="w-full">
                <nz-input-number [style.width.%]="100" name="cost" [(ngModel)]="editForm.cost">
                    <span nzInputPrefix>$</span>
                </nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Serial No.</div>
            <nz-form-control>
              <input nz-input type="text" name="serialNo" [(ngModel)]="editForm.serialNo" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Invoice No.</div>
            <nz-form-control>
              <input nz-input type="text" name="invoiceNo" [(ngModel)]="editForm.invoiceNo" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Invoice Date</div>
            <nz-form-control>
              <nz-date-picker
                    class="w-[100%]"
                    name="invoiceDate"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="editForm.invoiceDate"
                >
                </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-4">
            <div class="px-1 w-[105px] flex items-center">Invoice Remark</div>
            <nz-form-control >
              <textarea nz-input name="invoiceRemark" [(ngModel)]="editForm.invoiceRemark"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Brand Code</div>
            <nz-form-control>
              <input nz-input type="text" name="brandCode" [(ngModel)]="editForm.brandCode" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Brand Name</div>
            <nz-form-control>
              <input nz-input type="text" name="brandName" [(ngModel)]="editForm.brandName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Account Code</div>
            <nz-form-control>
              <input nz-input type="text" name="accountCode" [(ngModel)]="editForm.accountCode" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Account Name</div>
            <nz-form-control>
              <input nz-input type="text" name="accountName" [(ngModel)]="editForm.accountName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Cheque No.</div>
            <nz-form-control>
              <input nz-input type="text" name="chequeNo" [(ngModel)]="editForm.chequeNo" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Voucher No.</div>
            <nz-form-control>
              <input nz-input type="text" name="voucherNo" [(ngModel)]="editForm.voucherNo" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <div class="px-1 w-[105px] flex items-center">Voucher Date</div>
            <nz-form-control>
              <nz-date-picker
                    class="w-[100%]"
                    name="invoiceDate"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="editForm.voucherUsedDate"
                >
                </nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Warranty Date Start From</div>
            <nz-form-control>
              <nz-date-picker
                    class="w-[100%]"
                    name="maintenancePeriodStart"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="editForm.maintenancePeriodStart"
                >
                </nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Warranty Date End To</div>
            <nz-form-control>
              <nz-date-picker
                    class="w-[100%]"
                    name="imaintenancePeriodEnd"
                    nzShowTime
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="editForm.maintenancePeriodStart"
                >
                </nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="lg:col-span-2">
            <div class="px-1 w-[105px] flex items-center">Tax Name</div>
            <nz-form-control>
                <nz-select name="typeId" [(ngModel)]="editForm.taxInfofId"  nzPlaceHolder="Please select"  (ngModelChange)="taxInfoOnChanges($event)">
                  @for (option of taxLists; track option) {
                    <nz-option [nzLabel]="option.label" [nzValue]="option._id"></nz-option>
                  }
                </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item> 
            <div class="px-1 w-[105px] flex items-center">Include Tax?</div>
            <nz-form-control>
              <label nz-checkbox name="includeTax" [(ngModel)]="editForm.includeTax" (ngModelChange)="taxOnChanges($event)"></label>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <div class="px-1 w-[150px] flex items-center">After or Before Tax</div>
            <nz-form-control class="w-full">
                <nz-input-number [style.width.%]="100" name="afterBeforeTax" [(ngModel)]="editForm.afterBeforeTax">
                    <span nzInputPrefix>$</span>
                </nz-input-number>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="lg:col-span-4">
            <div class="px-1 w-[105px] flex items-center">Remark</div>
            <nz-form-control >
              <textarea nz-input name="remark" [(ngModel)]="editForm.remark"></textarea>
            </nz-form-control>
          </nz-form-item>

          <div class="flex gap-5">
            <div *ngIf="userRightInside.write || userRightInside.update" (click)="resetForm()" class="rounded-lg border-2 text-[#bf7b00] border-[#bf7b00] bg-[#fbd695] hover:bg-[#dabc87] p-1 w-[100px] text-center ">
              Reset
            </div>
            <div *ngIf="userRightInside.write || userRightInside.update" (click)="submitForm()" class="rounded-lg border-2 text-[#32c244] border-[#32c244] bg-[#a2ff80] hover:bg-[#91e274] p-1 w-[100px] text-center ">
              {{ editForm._id ? 'Update' : 'Create' }}
            </div>
          </div>

        </form>

        <app-fileview-dialog 
          [(fileDialogOpen)]="fileDialogVisible" 
          [fileList]="editForm.assetListFiles" 
          fileNameKey="fileName" 
          filePathKey="base64"
          removeFileApi="/asset/asset-list/file-remove/:id"
          [loadFileApi]="'/asset/asset-list/load-file/' + theId"
        />
    </div>
</div>