<div class="bg-white px-[2rem]">
    <div class="p-1  lg:p-6"  *ngIf="userRightInside.read">
        <div class="flex gap-2 py-5">
            <div>
                <nz-range-picker
                    class="h-full"
                    name="dateRange" 
                    [nzShowTime]="{ nzFormat: 'HH:mm' }"
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="searchForm.dateRange"
                ></nz-range-picker>
            </div>
            <div class="w-[200px] h-full">
                <nz-select
                    class="w-full"
                    nzSize="large"
                    name="placeId" 
                    [(ngModel)]="searchForm.placeIds"  
                    nzMode="multiple" nzAllowClear  nzShowArrow
                     nzPlaceHolder="Please select Location">
                    @for (option of placeLists; track option) {
                      <nz-option [nzLabel]="option.placeName" [nzValue]="option._id"></nz-option>
                    }
                </nz-select>
            </div>

            <div (click)="loadWriteOffLists()" class="w-[100px]  border-1 border-[#54A4FF] hover:bg-[#2E7FDB] text-center px-1 py-2 rounded-lg">
                Search
            </div>
            <div (click)="goToCreate()" class="w-[100px] bg-[#54A4FF] hover:bg-[#2E7FDB] text-white text-center px-1 py-2 rounded-lg">
                Create
            </div>
        </div>
        <nz-table
                [nzData]="dataLists"
                #dataTable
                nzFrontPagination="false"
            >
                <thead>
                    <tr>
                        <th>Asset Code</th>
                        <th>Asset Name</th>
                        <th>Location Name</th>
                        <th>Purchase Date</th>
                        <th>Write Off Date</th>
                        <th>Disposal Method</th>
                        <th>Value of Remaining</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                      <!--  <th class="text-center">Action</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data">
                        <td>{{data.assetlist.assetCode}}</td>
                        <td>{{data.assetlist.assetName}}</td>
                        <td>{{data.location.placeName}}</td>
                        <td>{{ dateFormat(data.assetlist.purchaseDate) }}</td>
                        <td>{{ dateFormat(data.lastDay)}}</td>
                        <td>{{data.disposalMethod}}</td>
                        <td>${{ data.remainingValue || '0' }}</td>
                        <td>{{  dateFormat(data.createdAt)  }}</td>
                        <td>{{  dateFormat(data.updatedAt)  }}</td>
                        <!--<td>
                            <div class="flex gap-3">
                                <div 
                                    (click)="openEdit(data._id)"
                                    class="w-[100px] hover:bg-[#90E975] bg-[#B7FFA1] border-1 border-[#3AB713] text-[#3AB713] text-center p-1 rounded-lg">
                                    Edit
                                </div>
                            </div>
                        </td>-->
                    </tr>
                </tbody>
        </nz-table>
        <nz-pagination 
            [nzPageIndex]="searchForm.page" 
            [nzTotal]="totals" 
            nzShowSizeChanger 
            [nzPageSize]="searchForm.limit"
            (nzPageIndexChange)="searchForm.page = $event;loadWriteOffLists()"
            (nzPageSizeChange)="searchForm.limit = $event; loadWriteOffLists()"
        ></nz-pagination>

        <nz-modal
            [(nzVisible)]="removeDialog" 
            nzTitle="Confirm Write Off"
            (nzOnCancel)="closeRemoveDialog()"
            (nzOnOk)="goToWriteOff()"
        >
            <ng-container *nzModalContent>
                Are you sure to confirm write off this asset?
            </ng-container>
        </nz-modal>
    </div>
</div>