<div class="bg-white p-[2rem] grid grid-cols-1 gap-3">
    <div class="flex gap-2 p-5 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div>
            <nz-range-picker
                nzSize="large"
                class="h-full"
                name="date"
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                nzFormat="yyyy-MM-dd HH:mm:ss"
                [(ngModel)]="globalFilter.purchaseDates"
            ></nz-range-picker>
        </div>
        <div class="w-[210px] h-full">
            <nz-select
                nzSize="large"
                class="w-full h-full" 
                name="typeId" 
                [(ngModel)]="globalFilter.typeIds"  
                nzMode="multiple" nzAllowClear  nzShowArrow
                 nzPlaceHolder="Asset Type">
                @for (option of typeLists; track option) {
                  <nz-option [nzLabel]="option.typeName" [nzValue]="option._id"></nz-option>
                }
            </nz-select>
        </div>
        <div class="w-[210px] h-full">
            <nz-select
                nzSize="large"
                class="w-full h-full" 
                name="placeId" 
                [(ngModel)]="globalFilter.placeIds"  
                nzMode="multiple" nzAllowClear   nzShowArrow
                 nzPlaceHolder="Location">
                @for (option of placeLists; track option) {
                  <nz-option [nzLabel]="option.placeName" [nzValue]="option._id"></nz-option>
                }
            </nz-select>
        </div>
        <div class="w-[210px] h-full">
            <nz-select
                nzSize="large"
                class="w-full h-full" 
                name="deptId" 
                [(ngModel)]="globalFilter.deptIds"  
                nzMode="multiple" nzAllowClear  nzShowArrow
                 nzPlaceHolder="Location">
                @for (option of deptLists; track option) {
                  <nz-option [nzLabel]="option.deptName" [nzValue]="option._id"></nz-option>
                }
            </nz-select>
        </div>
        <div (click)="runSearch()" class="w-[100px]  border-1 border-[#54A4FF] hover:bg-[#2E7FDB] text-center px-1 py-2 rounded-lg">
            Search
        </div>
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Costs by Year-month and Department</div>
        <app-chart class="w-[100%]" *ngIf="deptAndDateInCostLoading" [(chartData)]="deptAndDateInCost" />
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Counts by Year-month and Department</div>
        <app-chart class="w-[100%]" *ngIf="deptAndDateInCountLoading" [(chartData)]="deptAndDateInCount" />
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Counts by Year-month and Asset Type</div>
        <app-chart class="w-[100%]" *ngIf="typeAndDateInCountLoading" [(chartData)]="typeAndDateInCount" />
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Costs by Year-month and Asset Type</div>
        <app-chart class="w-[100%]" *ngIf="typeAndDateInCostLoading"  [(chartData)]="typeAndDateInCost" />
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Counts by Year-month and Location</div>
        <app-chart class="w-[100%]" *ngIf="placeAndDateInCountLoading" [(chartData)]="placeAndDateInCount" />
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Costs by Year-month and Location</div>
        <app-chart class="w-[100%]" *ngIf="placeAndDateInCostsLoading" [(chartData)]="placeAndDateInCosts" />
    </div>

    <div class="grid lg:grid-cols-2 gap-3">
        <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
            <div class="font-bold">Costs by Location</div>
            <app-chart class="w-[100%]" *ngIf="placeInCostsLoading" [(chartData)]="placeInCosts" />
        </div>
        <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
            <div class="font-bold">Costs by Type</div>
            <app-chart class="w-[100%]" *ngIf="typeInCostsLoading" [(chartData)]="typeInCosts" />
        </div>
    </div>

    <div class="p-2 shawdow-lg border-2 border-[#A9A9A9] rounded-lg">
        <div class="font-bold">Costs by Type</div>
        <app-chart class="w-[100%]" *ngIf="deptInCostsLoading" [(chartData)]="deptInCosts" />
    </div>

</div>