<div class="bg-white px-[2rem]">
    <div class="p-1  lg:p-6" *ngIf="userRightInside.read">
        <div class="flex gap-2 py-5">
            <div class="w-[200px]">
                <input class="h-full" nz-input type="text" id="name" name="name" placeholder="Input Name/Code" [(ngModel)]="searchForm.name" />
            </div>
            <div class="w-[200px]">
                <input class="h-full" nz-input type="text" id="countryCodeName" name="countryCodeName" placeholder="Input Country Name/Code" [(ngModel)]="searchForm.name" />
            </div>
            <div (click)="loadTaxInfoLists()" class="w-[100px]  border-1 border-[#54A4FF] hover:bg-[#2E7FDB] text-center px-1 py-2 rounded-lg">
                Search
            </div>
            <div *ngIf="userRightInside.write" (click)="showDialog()" class="w-[100px] bg-[#54A4FF] hover:bg-[#2E7FDB] text-white text-center px-1 py-2 rounded-lg">
                Create
            </div>
            <div *ngIf="userRightInside.upload" class="w-[200px] border-1 border-[#D17600] text-center px-1 py-2 rounded-lg">
                <app-download-excel-template 
                    class="text-[#D17600] hover:text-[#B06400]" 
                    buttonLabel="Download Excel Template" 
                    excelFileName="tax_info_template.xlsx" 
                    [excelFieldList]="excelFieldList" 
                />
            </div>
            <div *ngIf="userRightInside.upload" class="w-[100px] bg-[#54A4FF] hover:bg-[#2E7FDB] text-white text-center px-1 py-2 rounded-lg">
                <app-upload-dialog
                    uploadButtonLabel="Upload"
                    uploadApiUrl="/base/tax-information/batch-create"
                    [excelFieldList]="excelFieldList"
                    [dbFieldList]="dbFieldList"
                />
            </div>
        </div>
        <nz-table
                [nzData]="dataLists"
                #dataTable
                nzFrontPagination="false"
            >
                <thead>
                    <tr>
                        <th>Nation Name</th>
                        <th>Country Name</th>
                        <th>Tax Type</th>
                        <th>Tax Name</th>
                        <th>Tax Rate</th>
                        <th>Import Tax Rate</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data">
                        <td>{{data.nationName}}</td>
                        <td>{{data.countryName}}</td>
                        <td>{{data.taxType}}</td>
                        <td>{{data.taxName}}</td>
                        <td>{{data.taxRate * 100}}%</td>
                        <td>{{data.importRate ? data.importRate* 100: 0}}%</td>
                        <td>{{  dateFormat(data.createdAt)  }}</td>
                        <td>{{  dateFormat(data.updatedAt)  }}</td>
                        <td>
                            <div class="flex gap-3">
                                <div 
                                    *ngIf="userRightInside.update"
                                    (click)="getOneData(data._id)" 
                                    class="w-[100px] hover:bg-[#90E975] bg-[#B7FFA1] border-1 border-[#3AB713] text-[#3AB713] text-center p-1 rounded-lg">
                                    Edit
                                </div>
                                <div 
                                    *ngIf="userRightInside.delete"
                                    (click)="handleRomeve(data._id)"
                                    class="w-[100px] bg-[#FFA8A8] hover:bg-[#EC7272] border-1 border-[#CB0000] text-[#CB0000] text-center p-1 rounded-lg">
                                    Delete
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </nz-table>
        <nz-pagination 
            [nzPageIndex]="searchForm.page" 
            [nzTotal]="totals" 
            nzShowSizeChanger 
            [nzPageSize]="searchForm.limit"
            (nzPageIndexChange)="searchForm.page = $event; loadTaxInfoLists()"
            (nzPageSizeChange)="searchForm.limit = $event; loadTaxInfoLists()"
        ></nz-pagination>

        <nz-modal 
            nzWidth="700px"
            [(nzVisible)]="editFormDialog" 
            (nzOnCancel)="closeDialog()"
            (nzOnOk)="submitForm()"
            nzTitle="Tax Information Form"
            [nzOkText]="okText"
        >
            <ng-container *nzModalContent>
                <form nz-form class="grid lg:grid-cols-2">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="nationCode">Nation Code</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="nationCode" name="nationCode" [(ngModel)]="editForm.nationCode"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="nationCode">Nation Name</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="nationnAME" name="nationnAME" [(ngModel)]="editForm.nationName"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="nationCode">Ccountry Code</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="countryCode" name="countryCode" [(ngModel)]="editForm.countryCode"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="countryCode">Country Name</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="countrynAME" name="countrynAME" [(ngModel)]="editForm.countryName"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="taxType">Tax Type</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="taxType" name="taxType" [(ngModel)]="editForm.taxType"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="taxCode">Tax Code</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                          <input nz-input type="text" id="taxCode" name="taxCode" [(ngModel)]="editForm.taxCode"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item class="col-span-2">
                        <nz-form-label [nzSpan]="4" nzFor="taxCode">Tax Name</nz-form-label>
                        <nz-form-control [nzSpan]="19">
                          <input nz-input type="text" id="taxnAME" name="taxnAME" [(ngModel)]="editForm.taxName"/>
                        </nz-form-control>
                     </nz-form-item>
                     <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="name">Tax Rate</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-input-number [style.width.%]="100" name="taxRate" [(ngModel)]="editForm.taxRate">
                                <span nzInputAddonAfter>%</span>
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8" nzFor="name">Import Tax Rate</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-input-number [style.width.%]="100" name="importRate" [(ngModel)]="editForm.importRate">
                                <span nzInputAddonAfter>%</span>
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                     <nz-form-item class="col-span-2">
                        <nz-form-label [nzSpan]="4" nzFor="email">Remark</nz-form-label>
                        <nz-form-control [nzSpan]="19">
                          <textarea nz-input id="remark" name="remark" [(ngModel)]="editForm.remark"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    
                </form>
            </ng-container>
           
        </nz-modal>
    </div>
</div>