<div class="bg-white p-[1rem]">
    <div>
        <div class="flex py-3 gap-5">
            <div class="text-[2rem] hover:text-[#ff9200] px-3">
                <mat-icon cl aria-hidden="false" fontIcon="chevron_left"></mat-icon>
            </div>
            <div class="text-center text-[2rem] font-bold">Invoice Detail ({{ invoiceDetail.number }})</div>
        </div>
        <form nz-form class="grid lg:grid-cols-4 p-2 gap-2">
            <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Invoice No.</div>
                  <nz-form-control>
                    <input nz-input type="text" name="number" [(ngModel)]="invoiceDetail.number"  [disabled]="true" />
                  </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Create Date</div>
                <nz-form-control>
                  <nz-date-picker
                        class="w-[100%]"
                        name="createdAt"
                        nzShowTime
                        nzFormat="yyyy-MM-dd HH:mm:ss"
                        [(ngModel)]="invoiceDetail.createdAt"
                        [disabled]="true" 
                    ></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Location</div>
                <nz-form-control>
                    <nz-select 
                            name="placeId" 
                            [(ngModel)]="invoiceDetail.locationId" 
                            nzAllowClear  
                            nzShowArrow 
                            nzPlaceHolder="Please select"
                            [disabled]="true"
                        >
                        @for (option of locationList; track option) {
                          <nz-option [nzLabel]="option.placeName" [nzValue]="option._id"></nz-option>
                        }
                      </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <div class="px-1 w-[105px] flex items-center">Total Amount</div>
                <nz-form-control class="w-full">
                    <nz-input-number [style.width.%]="100" name="totalAmount" [(ngModel)]="invoiceDetail.totalAmount" [disabled]="true">
                        <span nzInputPrefix>$</span>
                    </nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="invoiceDetail.member.name">
                <div class="px-1 w-[105px] flex items-center">Member Name</div>
                <nz-form-control class="w-full">
                    <input nz-input type="text" name="memberName" [(ngModel)]="invoiceDetail.member.name" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="invoiceDetail.member.phone">
                <div class="px-1 w-[105px] flex items-center">Phone No.</div>
                <nz-form-control class="w-full">
                    <input nz-input type="text" name="memberName" [(ngModel)]="invoiceDetail.member.phone" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="invoiceDetail.member.phone">
                <div class="px-1 w-[105px] flex items-center">Email</div>
                <nz-form-control class="w-full">
                    <input nz-input type="text" name="phoneNo" [(ngModel)]="invoiceDetail.member.email" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="invoiceDetail.member.fax">
                <div class="px-1 w-[105px] flex items-center">Fax No.</div>
                <nz-form-control class="w-full">
                    <input nz-input type="text" name="fax" [(ngModel)]="invoiceDetail.member.fax" [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="lg:col-span-4">
                <div class="px-1 w-[105px] flex items-center">Remark</div>
                <nz-form-control >
                  <textarea nz-input name="remark" [(ngModel)]="invoiceDetail.remark" [disabled]="true"></textarea>
                </nz-form-control>
            </nz-form-item>

            <div class="py-3 lg:col-span-4">
                <div class="text-center text-[1.5rem] font-bold py-2">Invoice Items</div>
                <nz-table
                    [nzData]="invoiceDetail.invoiceItems"
                    #dataTable
                    nzFrontPagination="false"
                >
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Qty</th>
                            <th>Total Amount</th>
                            <th>Discount</th>
                            <th>Discount Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of invoiceDetail.invoiceItems">
                            <td>{{data.product.productCode}}</td>
                            <td>{{data.product.productName}}</td>
                            <td>{{data.qty}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.discount * 100}}%</td>
                            <td>{{data.discountType}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div class="py-3 lg:col-span-4">
                <div class="text-center text-[1.5rem] font-bold py-2">Payment</div>
                <nz-table
                    [nzData]="invoiceDetail.invoicePayment"
                    #dataTable
                    nzFrontPagination="false"
                >
                    <thead>
                        <tr>
                            <th>Method</th>
                            <th>Amount</th>
                            <th>Payment Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of invoiceDetail.invoicePayment">
                            <td>{{data.method}}</td>
                            <td>{{data.amount}}</td>
                            <td>{{dateFormat(data.paymentTime)}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </form>
    </div>
</div>