<div class="bg-white px-[2rem]">
    <div class="p-1  lg:p-6"  *ngIf="userRightInside.read">
        <div class="flex gap-2 py-5">
           <!-- <div class="w-[240px]">
                <nz-range-picker
                    nzSize="large"
                    class="h-full"
                    name="date"
                    [nzShowTime]="{ nzFormat: 'HH:mm' }"
                    nzFormat="yyyy-MM-dd HH:mm:ss"
                    [(ngModel)]="searchForm.purchaseDates"
                ></nz-range-picker>
            </div>-->
            <div class="w-[150px]">
                <input class="h-full" nz-input type="text" name="assetCode" placeholder="Asset Code" [(ngModel)]="searchForm.assetCode" />
            </div>
            <div class="w-[150px]">
                <input class="h-full" nz-input type="text" name="assetName" placeholder="Asset Name" [(ngModel)]="searchForm.assetName" />
            </div>
            
            <div class="w-[150px] h-full">
                <nz-select
                    nzSize="large"
                    class="w-full h-full" 
                    name="typeId" 
                    [(ngModel)]="searchForm.typeIds"  
                    nzMode="multiple" nzAllowClear  nzShowArrow
                     nzPlaceHolder="Asset Type">
                    @for (option of typeLists; track option) {
                      <nz-option [nzLabel]="option.typeName" [nzValue]="option._id"></nz-option>
                    }
                </nz-select>
            </div>
            <div class="w-[150px] h-full">
                <nz-select
                    nzSize="large"
                    class="w-full h-full" 
                    name="placeId" 
                    [(ngModel)]="searchForm.placeIds"  
                    nzMode="multiple" nzAllowClear   nzShowArrow
                     nzPlaceHolder="Location">
                    @for (option of placeLists; track option) {
                      <nz-option [nzLabel]="option.placeName" [nzValue]="option._id"></nz-option>
                    }
                </nz-select>
            </div>
            <div class="w-[150px] h-full">
                <nz-select
                    nzSize="large"
                    class="w-full h-full" 
                    name="deptId" 
                    [(ngModel)]="searchForm.deptIds"  
                    nzMode="multiple" nzAllowClear  nzShowArrow
                     nzPlaceHolder="Location">
                    @for (option of deptLists; track option) {
                      <nz-option [nzLabel]="option.deptName" [nzValue]="option._id"></nz-option>
                    }
                </nz-select>
            </div>
            <div (click)="loadAssetListLists()" class="w-[100px]  border-1 border-[#54A4FF] hover:bg-[#2E7FDB] text-center px-1 py-2 rounded-lg">
                Search
            </div>
            <div *ngIf="userRightInside.write" (click)="goToCreate()" class="w-[100px] bg-[#54A4FF] hover:bg-[#2E7FDB] text-white text-center px-1 py-2 rounded-lg">
                Create
            </div>
            <div *ngIf="userRightInside.upload" class="w-[200px] border-1 border-[#D17600] text-center px-1 py-2 rounded-lg">
                <app-download-excel-template 
                    class="text-[#D17600] hover:text-[#B06400]" 
                    buttonLabel="Download Excel Template" 
                    excelFileName="asset_list_template.xlsx" 
                    [excelFieldList]="excelFieldList" 
                />
            </div>
            <div *ngIf="userRightInside.upload" class="w-[100px] bg-[#54A4FF] hover:bg-[#2E7FDB] text-white text-center px-1 py-2 rounded-lg">
                <app-upload-dialog
                    uploadButtonLabel="Upload"
                    uploadApiUrl="/asset/asset-list/batch-create"
                    [excelFieldList]="excelFieldList"
                    [dbFieldList]="dbFieldList"
                />
            </div>
        </div>
        <nz-table
                [nzData]="dataLists"
                #dataTable
                nzFrontPagination="false"
            >
                <thead>
                    <tr>
                        <th>Asset Code</th>
                        <th>Asset Name</th>
                        <th>Purchase Date</th>
                        <th>Type Name</th>
                        <th>Department Name</th>
                        <th>Location Name</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataTable.data">
                        <td>{{data.assetCode}}</td>
                        <td>{{data.assetName}}</td>
                        <td>{{ dateFormat(data.purchaseDate) }}</td>
                        <td>{{data.assettype.typeName}}</td>
                        <td>{{data.department.deptName}}</td>
                        <td>{{data.location.placeName}}</td>
                        <td>{{  dateFormat(data.createdAt)  }}</td>
                        <td>{{  dateFormat(data.updatedAt)  }}</td>
                        <td>
                            <div class="flex gap-3">
                                <div 
                                    *ngIf="userRightInside.update"
                                    (click)="openRepairRecordDialog(data)"
                                    class="w-[100px] hover:bg-[#90E975] bg-[#B7FFA1] border-1 border-[#3AB713] text-[#3AB713] text-center p-1 rounded-lg">
                                    Repiar
                                </div>
                                <div 
                                    (click)="openQrCodeDialog(data)"
                                    class="w-[100px] bg-[#8ee0ff] hover:bg-[#87d3ef] border-1 border-[#408eab] text-[#408eab] text-center p-1 rounded-lg">
                                    QR Tag
                                </div>
                                <div 
                                    (click)="openEdit(data._id)"
                                    class="w-[100px] hover:bg-[#90E975] bg-[#B7FFA1] border-1 border-[#3AB713] text-[#3AB713] text-center p-1 rounded-lg">
                                    Detail
                                </div>
                                <div 
                                    *ngIf="userRightInside.delete"
                                    (click)="handleRomeve(data._id)"
                                    class="w-[100px] bg-[#FFA8A8] hover:bg-[#EC7272] border-1 border-[#CB0000] text-[#CB0000] text-center p-1 rounded-lg">
                                    Write Off
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </nz-table>
        <nz-pagination 
            [nzPageIndex]="searchForm.page" 
            [nzTotal]="totals" 
            nzShowSizeChanger 
            [nzPageSize]="searchForm.limit"
            (nzPageIndexChange)="searchForm.page = $event; loadAssetListLists()"
            (nzPageSizeChange)="searchForm.limit = $event; loadAssetListLists()"
        ></nz-pagination>

        <nz-modal
            [(nzVisible)]="removeDialog" 
            nzTitle="Confirm"
            (nzOnCancel)="closeRemoveDialog()"
            (nzOnOk)="goToWriteOff()"
        >
            <ng-container *nzModalContent>
                Are you sure to confirm void this record?
            </ng-container>
        </nz-modal>

        <app-repair-record-create [(repairRecordDialog)]="repairRecordDialog" [handleId]="handleId" />

        <app-qrcode [(isOpen)]="qrCodeDialog" [qrCodeString]="qrCodeString" [randomHtml]="qrCodeRandomHtml" [widthInBox]="'300px'"/>
    </div>
</div>